<!--
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
-->

<div class="container">
  <div>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://i.pinimg.com/originals/be/bd/ff/bebdffa81546d2aaf1a80c234d9043aa.png" alt="" width="72" height="72">
      <h2>Checkout form</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
  </div>

<!--<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <div class="host">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Second Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telephone No</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Birthday</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>NIC</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>-->

   <!-- <form #addForm="ngForm" (ngSubmit)="sendData(addForm) ">
      <div class="host">
        <mat-form-field appearance="fill">
          <mat-label>Sex</mat-label>
          <mat-select>
            <mat-option value="1">Male</mat-option>
            <mat-option value="0">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Smoke</mat-label>
          <mat-select>
            <mat-option value="1">Yes</mat-option>
            <mat-option value="0">No</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <mat-select>
            <mat-option value="southwest">South West</mat-option>
            <mat-option value="southeast">South East</mat-option>
            <mat-option value="northwest">North West</mat-option>
            <mat-option value="northeast">North East</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>BMI</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Children</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="secondCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button >Back</button>
        <button mat-button  type="submit" >Next</button>
      </div>
    </form>-->
<!--  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>-->
  <form #addForm="ngForm" (ngSubmit)="sendData(addForm) ">
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" ngModel name="age" class="form-control" id="age" placeholder="age" required>
    </div>
    <div class="form-group">
      <label for="bmi">bmi</label>
      <input type="number" ngModel name="bmi" class="form-control" id="bmi" placeholder="bmi" required>
    </div>
    <div class="form-group">
      <label for="children">children</label>
      <input type="number" ngModel name="children" class="form-control" id="children" placeholder="children" required>
    </div>
    <div class="form-group">
      <label for="sex_male">sex_male</label>
      <input type="number" ngModel name="sex_male" class="form-control" id="sex_male" placeholder="sex_male" required>
    </div>
    <div class="form-group">
      <label for="smoker_yes">smoker_yes</label>
      <input type="number" ngModel name="smoker_yes" class="form-control" id="smoker_yes" placeholder="Image URL" required>
    </div>
    <div class="form-group">
      <label for="region_northwest">region_northwest</label>
      <input type="number" ngModel name="region_northwest" class="form-control" id="region_northwest" placeholder="region_northwest" required>
    </div>
    <div class="form-group">
      <label for="region_southeast">region_southeast</label>
      <input type="number" ngModel name="region_southeast" class="form-control" id="region_southeast" placeholder="region_southeast" required>
    </div>
    <div class="form-group">
      <label for="region_southwest">region_southwest</label>
      <input type="number" ngModel name="region_southwest" class="form-control" id="region_southwest" placeholder="region_southwest" required>
    </div>
    <div class="modal-footer">
      <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
    </div>
  </form>
</div>
