<!--
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
-->

<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://i.pinimg.com/originals/be/bd/ff/bebdffa81546d2aaf1a80c234d9043aa.png" alt="" width="72" height="72">
      <h2>Insurance Premium Prediction Form</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

</div>

<div class="container" style="width: 500px">
  <form #addForm="ngForm" (ngSubmit)="sendData(addForm) ">
    <div>
      <h2> Your Insurance Prediction ::
        {{prediction}} USD
      </h2>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" ngModel name="age" class="form-control" id="age" placeholder="age" required>
    </div>
    <div class="form-group">
      <label for="bmi">bmi</label>
      <input type="number" ngModel name="bmi" class="form-control" id="bmi" placeholder="bmi" required>
    </div>
    <div class="form-group">
      <label for="children">children</label>
      <input type="number" ngModel name="children" class="form-control" id="children" placeholder="children" required>
    </div>
    <div class="form-group">
      <label for="sex_male">sex_male</label>
      <input type="number" ngModel name="sex_male" class="form-control" id="sex_male" placeholder="sex_male" required>
    </div>
    <div class="form-group">
      <label for="smoker_yes">smoker_yes</label>
      <input type="number" ngModel name="smoker_yes" class="form-control" id="smoker_yes" placeholder="smoker_yes" required>
    </div>
    <div class="form-group">
      <label for="region_northwest">region_northwest</label>
      <input type="number" ngModel name="region_northwest" class="form-control" id="region_northwest" placeholder="region_northwest" required>
    </div>
    <div class="form-group">
      <label for="region_southeast">region_southeast</label>
      <input type="number" ngModel name="region_southeast" class="form-control" id="region_southeast" placeholder="region_southeast" required>
    </div>
    <div class="form-group">
      <label for="region_southwest">region_southwest</label>
      <input type="number" ngModel name="region_southwest" class="form-control" id="region_southwest" placeholder="region_southwest" required>
    </div>
    <div class="modal-footer mt-3" >
      <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
    </div>
  </form>


</div>
